<div class="row">
    <div class="col-12">
        <h5>Route to a group</h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="post"
            {{#with currentAction}}
              action="/actions/{{scope.type}}/{{scope.referenceId}}/{{id}}/CHANGE_PRIORITY/update"
            {{else}}
              action="/actions/{{scope.type}}/{{scope.referenceId}}/CHANGE_PRIORITY/create"
            {{/with}}
        >
            <div class="mb-3">
                <label for="name" class="col-form-label fw-bold">Name</label>
                <input type="text" id="name" name="name" class="form-control border border-dark"
                       maxlength="45" placeholder="Action Name" aria-describedby="nameHelp"
                       value="{{currentAction.name}}">
                <div id="nameHelp" class="form-text">Name for the action. Max Length: 45</div>
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label fw-bold">Description</label>
                <textarea id="description" name="description"
                          class="form-control border border-dark" rows="5"
                          placeholder="A description for the action" aria-describedby="descriptionHelp"
                          aria-describedby="descriptionHelp">{{currentAction.description}}</textarea>
                <div id="descriptionHelp" class="form-text">Optional, . Max Length: 45</div>
            </div>
            <div class="mb-3">
                <label for="priority" class="col-form-label fw-bold">Priority To Be Set</label>
                <select class="form-control border border-dark"
                        id="priority" name="priority"
                        aria-describedby="priorityHelp" required>
                    {{#each availablePriorities}}
                        <option value="{{this}}"
                                {{#eq ../currentAction/priority this}}selected{{/eq}}>{{readable this}}</option>
                    {{/each}}
                </select>
                <div id="priorityHelp" class="form-text">Ticket priority will be set to this</div>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-success"><i class="bi bi-save me-2"></i>Save</button>
            </div>
        </form>
    </div>
</div>