{{#partial "page_css_includes"}}
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
{{/partial}}
{{#partial "page_js_includes"}}
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
{{/partial}}
{{#partial "content"}}
    <div class="row">
        <div class="col-12">
            {{#empty currentAction}}
                <h4>Creating Webhook Action</h4>
            {{else}}
                <h4>Updating Webhook Action: <b>{{currentAction.name}}</b></h4>
            {{/empty}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <form method="post"
                {{#with currentAction}}
                  action="/actions/{{scope.type}}/{{scope.referenceId}}/{{id}}/WEBHOOK/update"
                {{else}}
                  action="/actions/{{scope.type}}/{{scope.referenceId}}/WEBHOOK/create"
                {{/with}}
            >
                <div class="mb-3">
                    <label for="name" class="col-form-label fw-bold">Name</label>
                    <input type="text" id="name" name="name" class="form-control border border-dark"
                           maxlength="45" placeholder="Action Name" aria-describedby="nameHelp"
                           value="{{currentAction.name}}" required>
                    <div id="nameHelp" class="form-text">Name for the action. Max Length: 45</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="col-form-label fw-bold">Description</label>
                    <textarea id="description" name="description"
                              class="form-control border border-dark" rows="5" maxlength="255"
                              placeholder="A description for the action" aria-describedby="descriptionHelp"
                              aria-describedby="descriptionHelp">{{currentAction.description}}</textarea>
                    <div id="descriptionHelp" class="form-text">Optional. Max Length: 255</div>
                </div>
                <div class="mb-3">
                    <label for="callType" class="col-form-label fw-bold">Type of HTTP Call</label>
                    <select class="form-control selectpicker border border-dark"
                            id="callType" name="callType"
                            aria-describedby="callTypeHelp" required>
                        {{#each availableCallTypes}}
                            <option value="{{this}}" {{#eq currentAction.callType this}}selected{{/eq}}>{{this}}</option>
                        {{/each}}
                    </select>
                    <div id="callTypeHelp" class="form-text">Type of call to be made to upstream</div>
                </div>
                <div class="mb-3">
                    <label for="urlTemplate" class="col-form-label fw-bold">HTTP API to call</label>
                    <input type="text" id="urlTemplate" name="urlTemplate" class="form-control border border-dark"
                           maxlength="1024" placeholder="Template for URL (including {protocol}://{hostname}:{port}"
                           aria-describedby="urlTemplateHelp"
                           value="{{currentAction.urlTemplate.template}}" required>
                    <div id="urlTemplateHelp" class="form-text">This is a Handlebars template. Use <b>\{{}}</b> to refer to
                        variables. Max length: 1024
                    </div>
                </div>
                <div class="mb-3">
                    <label for="mimeType" class="col-form-label fw-bold">MIME Type of HTTP Call</label>
                    <select class="form-control selectpicker border border-dark"
                            id="mimeType" name="mimeType"
                            aria-describedby="mimeTypeHelp">
                        {{#each availableMimeTypes}}
                            <option value="{{this}}" {{#eq currentAction.mimeType this}}selected{{/eq}}>{{this}}</option>
                        {{/each}}
                    </select>
                    <div id="mimeTypeHelp" class="form-text">Type of payload to be sent upstream. Ignored for GET/DELETE
                        calls.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="payloadTemplate" class="col-form-label fw-bold">Request Body Template</label>
                    <textarea id="payloadTemplate" name="payloadTemplate" class="form-control border border-dark"
                              maxlength="4096" placeholder="Template for the payload."
                              aria-describedby="urlTemplateHelp">{{currentAction.payloadTemplate.template}}</textarea>
                    <div id="urlTemplateHelp" class="form-text">This is a Handlebars template. Create a JSON template. It
                        will be converted to appropriate format based on the provided MIME Type. . Ignored for GET/DELETE
                        calls. Max length: 4096
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="headerTemplates" class="col-form-label fw-bold">Headers</label>
                        <textarea id="headerTemplates" name="headerTemplates" class="form-control border border-dark"
                                  maxlength="4096" placeholder="Template for URL (including {protocol}://{hostname}:{port}"
                                  aria-describedby="headerTemplatesHelp">
                            {{#each currentAction.headerTemplates}}
                                {{@key}} : {{this.template}}
                            {{/each}}
                        </textarea>
                        <div id="headerTemplatesHelp" class="form-text">Please put headers, one on each line, separated by
                            &quot; :&quot;. The value for a header is a template and can refer to fields in the payload.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="successCodes" class="col-form-label fw-bold">Successful API HTTP Status Codes</label>
                    <input type="text" id="successCodes" name="successCodes" class="form-control border border-dark"
                           maxlength="45" placeholder="Comma separated list of HTTP status codes"
                           pattern="\b(?:1\d{2}|2\d{2}|3\d{2}|4\d{2}|5\d{2})(?:,\s*(?:1\d{2}|2\d{2}|3\d{2}|4\d{2}|5\d{2}))*\b"
                           aria-describedby="successCodesHelp"
                           value="{{join currentAction.successCodes}}">
                    <div id="successCodesHelp" class="form-text">List of valid HTTP status codes (200, 201 etc), separated
                        by Commas.
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success"><i class="bi bi-save me-2"></i>Save</button>
                </div>
            </form>
        </div>
        <div class="col-sm-0 col-md-1"></div>
        <div class="col-sm-0 col-md-4">
            <div class="alert alert-light note" role="alert">
                <div class="row note-header">
                    What is a Route to Group Action?
                </div>
                <div class="row note-body">
                    A route to group action can be used to automatically assign a ticket to a group.
                    This action can be triggered as part of a transition, or on landing on a state.
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> common/base}}