{{#partial "page_css_includes"}}
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
{{/partial}}
{{#partial "page_js_includes"}}
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
{{/partial}}
{{#partial "content"}}
    {{#with ticket}}
        <div class="row">
            <div class="col">
                <h4>Details for ticket: <b>{{summary/id}}</b></h4>
                <p>
                    <small>Created by <a href="/admin/users/{{summary/createdBy/id}}">
                        <b>{{summary/createdBy/name}}</b></a> on {{summary/created}}. Last updated
                        on {{summary/updated}}.
                    </small>
                </p>
            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-8">
                            <label for="workflow" class="col-form-label fw-bold">Workflow</label>
                            <input type="text" id="workflow"
                                   class="form-control border border-dark"
                                   maxlength="45" value="{{workflow/displayName}}"
                                   aria-describedby="workflowHelp" disabled>
                            <div id="workflowHelp" class="form-text">Workflow
                                Description: {{workflow/displayName}}</div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label for="currentState" class="col-form-label fw-bold">Current State</label>
                            <input type="text" id="currentState"
                                   class="form-control border border-dark"
                                   maxlength="45" value="{{state/displayName}}"
                                   aria-describedby="workflowStateHelp" disabled>
                            <div id="workflowStateHelp" class="form-text">Current state of the workflow.</div>
                        </div>
                    </div>
                    {{#with summary}}
                        <form method="post" action="/tickets/{{summary/id}}/summary/update">
                            <div class="md-3">
                                <label for="title" class="col-form-label fw-bold">Title</label>
                                <input type="text" id="title" name="title"
                                       class="form-control border border-dark"
                                       maxlength="45" aria-describedby="titleHelp" placeholder="Ticket title"
                                       value="{{title}}" required>
                                <div id="titleHelp" class="form-text">
                                    A human-readable title for this ticket. Max Length: 255.
                                </div>
                            </div>
                            <div class="md-3">
                                <label for="description" class="col-form-label fw-bold">Description</label>
                                <textarea id="description" name="description"
                                          class="form-control border border-dark"
                                          maxlength="45" placeholder="Ticket description"
                                          aria-describedby="descriptionHelp" rows="10">{{description}}</textarea>
                                <div id="descriptionHelp" class="form-text">
                                    A detailed description of the issue. Max Length: 4096.
                                </div>
                            </div>
                            <div class="md-3">
                                <label for="priority" class="col-form-label fw-bold">Priority</label>
                                <select id="priority" name="priority"
                                        class="form-control selectpicker border border-dark"
                                        aria-describedby="priorityHelp" required>
                                    {{#each ../priorities}}
                                        <option value="{{this}}" {{#eq this ../priority}}selected{{/eq}}>{{readable
                                                this}}</option>
                                    {{/each}}
                                </select>
                                <div id="priorityHelp" class="form-text">
                                    Priority for this ticket. Handling of priority is dependent on state transition
                                    rules.
                                </div>
                            </div>
                            <div class="md-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-success"><i class="bi bi-save"></i> Update</button>
                            </div>
                        </form>
                    {{/with}}
                </div>
                <div class="col-sm-12 col-md-4 mt-2">
                    <div class="row">
                        <div class="col-12 p-4 mb-3 border border-dark">
                            <label for="subId" class="col-form-label fw-bold"><i class="bi bi-person-lines-fill"></i>
                                &nbsp; Subject</label>
                            <a id="subId" class="ms-1" aria-describedby="subIdHelp"
                               href="/subjects/{{summary/subject/globalId}}/details">
                                {{#empty summary.subject.name}}
                                    {{summary/subject/globalId}}
                                {{else}}
                                    {{summary.subject.name}}
                                {{/empty}}
                            </a>
                            <div id="subIdHelp" class="form-text">
                                Person who is the subject of this ticket
                            </div>
                        </div>
                    </div>
                    <div class="accordion accordion-flush border border-dark" id="ticketSections">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button bg-dark text-white collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-assignment" aria-expanded="false"
                                        aria-controls="flush-assignment">
                                    <i class="bi bi-person-people-fill"></i> &nbsp; Assignment
                                </button>
                            </h2>
                            <div id="flush-assignment" class="accordion-collapse collapse show"
                                 data-bs-parent="#ticketSections">
                                <div class="accordion-body">
                                    <form method="post" action="/tickets/{{summary.id}}/group/update">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-2">
                                                <label for="groupId" class="col-form-label fw-bold">Group</label>
                                            </div>
                                            <div class="col-sm-8 col-md-8">
                                                <select id="groupId" name="groupId"
                                                        class="form-control selectpicker border border-dark"
                                                        aria-describedby="groupIdHelp" data-live-search="true">
                                                    {{#each ../availableGroups}}
                                                        <option value="{{id}}" {{#eq id
                                                                                    ../ticket/summary/assignedToGroup/id}}selected{{/eq}}>{{name}}</option>
                                                    {{/each}}
                                                </select>
                                                <div id="groupIdHelp" class="form-text">Group to assign this ticket to
                                                </div>
                                            </div>
                                            <div class="col justify-content-end text-end">
                                                <button type="submit" class="btn btn-primary">Assign</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  bg-dark text-white collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-ticketFieldsSet" aria-expanded="false"
                                        aria-controls="flush-ticketFieldsSet">
                                    <i class="bi bi-file-ruled"></i> &nbsp; Fields
                                </button>
                            </h2>
                            <div id="flush-ticketFieldsSet" class="accordion-collapse collapse show"
                                 data-bs-parent="#ticketSections">
                                <div class="accordion-body">
                                    <form class="p-2" method="post" action="/tickets/{{summary/id}}/fields/update">

                                        {{#each ../fields}}
                                            <div class="md-3">
                                                <label for="ticketField-{{schema/name}}"
                                                       class="col-form-label fw-bold">{{schema/displayName}}</label>
                                                {{#fieldTypeEquals type "STRING"}}
                                                    <input type="text"
                                                           class="form-control border border-dark"
                                                           id="ticketField-{{schema/name}}"
                                                           name="ticketField-{{schema/name}}"
                                                           aria-describedby="ticketField-{{schema/name}}-Help"
                                                        {{#gt schema/maxLength
                                                              0}}maxlength="{{schema/maxLength}}" {{/gt}}
                                                        {{#empty
                                                                schema/matchPattern}}{{else}}pattern="{{schema/matchPattern}}" {{/empty}}
                                                        {{#empty
                                                                fieldValue}}{{else}}value="{{fieldValue/value}}" {{/empty}}
                                                        {{#eq editable true}}
                                                            {{#eq required true}}required{{/eq}}
                                                        {{else}}
                                                           disabled
                                                        {{/eq}}>
                                                {{/fieldTypeEquals}}
                                                {{#fieldTypeEquals type "CHOICE"}}
                                                    <select class="form-control selectpicker border border-dark"
                                                            data-live-search="true"
                                                            data-selected-text-format="count > 2"
                                                            id="ticketField-{{schema/name}}"
                                                            name="ticketField-{{schema/name}}"
                                                            aria-describedby="ticketField-{{schema/name}}-Help"
                                                        {{#eq schema/allowMultiple true}}multiple{{/eq}}
                                                        {{#eq editable true}}
                                                            {{#eq required true}}required{{/eq}}
                                                        {{else}}
                                                            disabled
                                                        {{/eq}}>
                                                        {{#empty value}}
                                                            <option disabled>Select an option</option>
                                                        {{/empty}}
                                                        {{#each schema/choices}}
                                                            <option value="{{value}}" {{#empty
                                                                    fieldValue}}{{else}}{{#contains
                                                                    ../fieldValue/value
                                                                    value}}selected{{/contains}}{{/empty}}>
                                                                {{displayText}}
                                                            </option>
                                                        {{/each}}
                                                    </select>

                                                {{/fieldTypeEquals}}
                                                {{#fieldTypeEquals type "BOOLEAN"}}
                                                    <select class="form-control selectpicker border border-dark"
                                                            data-live-search="true"
                                                            id="ticketField-{{schema/name}}"
                                                            name="ticketField-{{schema/name}}"
                                                            aria-describedby="ticketField-{{schema/name}}-Help"
                                                        {{#eq editable true}}
                                                            {{#eq required true}}required{{/eq}}
                                                        {{else}}
                                                            disabled
                                                        {{/eq}}>
                                                        <option value="" disabled>Select option</option>
                                                        <option value="true"
                                                                {{#eq fieldValue/value true}}selected{{/eq}}>Yes
                                                        </option>
                                                        <option value="false"
                                                                {{#eq fieldValue/value false}}selected{{/eq}}>No
                                                        </option>
                                                    </select>
                                                {{/fieldTypeEquals}}
                                                {{#fieldTypeEquals type "LOCATION"}}

                                                {{/fieldTypeEquals}}
                                                {{#fieldTypeEquals type "DATE"}}
                                                    <input type="date"
                                                           class="form-control border border-dark"
                                                           id="ticketField-{{schema/name}}"
                                                           name="ticketField-{{schema/name}}"
                                                           aria-describedby="ticketField-{{schema/name}}-Help"
                                                        {{#empty schema/max}}{{else}}max="{{schema/max}}" {{/empty}}
                                                        {{#empty schema/min}}{{else}}max="{{schema/max}}" {{/empty}}
                                                        {{#empty fieldValue}}{{else}}value="{{htmlDate fieldValue/value
                                                                                                       false}}" {{/empty}}
                                                        {{#eq editable true}}
                                                            {{#eq required true}}required{{/eq}}
                                                        {{else}}
                                                           disabled
                                                        {{/eq}}>
                                                {{/fieldTypeEquals}}
                                                {{#fieldTypeEquals type "NUMBER"}}
                                                    <input type="number"
                                                           class="form-control border border-dark"
                                                           id="ticketField-{{schema/name}}"
                                                           name="ticketField-{{schema/name}}"
                                                           aria-describedby="ticketField-{{schema/name}}-Help"
                                                        {{#neq schema/max 0}}max="{{schema/max}}" {{/neq}}
                                                        {{#neq schema/min 0}}min="{{schema/min}}" {{/neq}}
                                                        {{#empty
                                                                fieldValue}}{{else}}value="{{fieldValue/value}}" {{/empty}}
                                                        {{#eq editable true}}
                                                            {{#eq required true}}required{{/eq}}
                                                        {{else}}
                                                           disabled
                                                        {{/eq}}>
                                                {{/fieldTypeEquals}}
                                                <div id="ticketField-{{schema/name}}-Help" class="form-text">
                                                    {{schema/description}}
                                                </div>
                                            </div>
                                        {{/each}}
                                        <div class="md-3 mt-2 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-info"><i
                                                    class="bi bi-cloud-plus-fill"></i>
                                                Submit
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/with}}
{{/partial}}

{{> common/base}}
