{{#partial "page_css_includes"}}
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
{{/partial}}
{{#partial "page_js_includes"}}
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
{{/partial}}
{{#partial "content"}}
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <section class="mb-2">
                <div class="row">
                    <div class="col-12">
                        <form class="get" action="/tickets/list">
                            <div class="row mt-6">
                                <div class="col-7">
                                    <h5>Filters</h5>
                                </div>
                                <div class="col-5 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-sm btn-success d-none">
                                        <i class="bi bi-funnel-fill"></i> Apply
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="workflowId" class="col-form-label fw-bold">Workflow</label>
                                <select id="workflowId" name="workflowId"
                                        class="form-control selectpicker border border-dark"
                                        data-live-search="true" onchange="this.form.submit()">
                                    <option value="">All</option>
                                    {{#each workflows}}
                                        <option value="{{id}}"
                                                {{#eq ../workflowId id}}selected{{/eq}}>{{displayName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="priority" class="col-form-label fw-bold">Priority</label>
                                <select id="priority" name="priority"
                                        class="form-control selectpicker border border-dark"
                                        data-live-search="true" onchange="this.form.submit()">
                                    <option value="">All</option>
                                    {{#each priorities}}
                                        <option value="{{this}}" {{#eq ../priority this}}selected{{/eq}}>{{readable
                                                this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="stateIds" class="col-form-label fw-bold">States</label>
                                <select id="stateIds" name="stateIds"
                                        class="form-control selectpicker border border-dark"
                                        data-live-search="true"  onchange="this.form.submit()">
                                    {{#empty states}}
                                        <option value="">Select workflow first</option>
                                    {{else}}
                                        <option value="" selected>All States</option>
                                    {{/empty}}
                                    {{#each states}}
                                        <option value="{{id}}"
                                                {{#eq ../stateId id}}selected{{/eq}}>{{displayName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="groupId" class="col-form-label fw-bold">Group</label>
                                <select id="groupId" name="groupId"
                                        class="form-control selectpicker border border-dark"
                                        data-live-search="true"   onchange="this.form.submit()">
                                    <option value="" {{#empty ../groupId}}selected{{/empty}}>None</option>
                                    {{#each groups}}
                                        <option value="{{id}}" {{#eq ../groupId id}}selected{{/eq}}>{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="subjectId" class="col-form-label fw-bold">Subject ID</label>
                                <input type="text" id="subjectId" name="subjectId"
                                       class="form-control border border-dark"
                                       placeholder="Enter subject ID"
                                       value="{{subjectId}}">
                            </div>
                            <div class="mb-3">
                                <label for="createdById" class="col-form-label fw-bold">Created By</label>
                                <input type="text" id="createdById" name="createdById"
                                       class="form-control border border-dark"
                                       placeholder="User ID of the creator"
                                       value="{{createdById}}">
                            </div>
                            <div class="mb-3">
                                <label for="assignedToId" class="col-form-label fw-bold">Assigned to</label>
                                <input type="text" id="assignedToId" name="assignedToId"
                                       class="form-control border border-dark"
                                       placeholder="User ID of the assignee"
                                       value="{{assignedToId}}">
                            </div>

                        </form>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-sm-12 col-md-9">
            <section>
                <div class="row">
                    <div class="col-12">
                        <h4>Tickets</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 table-responsive">
                        <table class="table table-bordered border-dark ticket-table" id="tickets">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Workflow</th>
                                <th>State</th>
                                <th>Priority</th>
                                <th>Created</th>
                                <th>Last Updated</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--
                    {{#each results.results}}
                        <tr>
                            <td><a href="/tickets/{{ticketId}}/details">{{title}}</a></td>
                            <td>{{workflowName}}</td>
                            <td>
                                <span class="badge {{#eq terminated true}}bg-secondary{{else}}bg-info{{/eq}} ms-2">
                                    {{stateName}}
                                </span>
                            </td>
                            <td>{{priority}}</td>
                            <td>{{created}}</td>
                            <td>{{updated}}</td>
                        </tr>
                    {{/each}}
-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-sm btn-outline-primary" id="load-older">Load older</button>
                    </div>
                </div>
            </section>

        </div>
    </div>
{{/partial}}

{{#partial "page_js"}}
    //Sets up data table with external search box
    const dt = $('#tickets').DataTable({
            paging: false,
            info: false,
            responsive: true,
            "dom":'t',
            processing: true,
            ordering: false,
            'columnDefs': [
                {
                    'className': 'text-center text-wrap',
                    'targets': '_all'
                }
            ],
            'columns' : [
                    {
                        'data' : 'ticketId' ,
                        'render' : function(data, type, row, meta) {
                            return '<a href="/tickets/' + data + '/details">' + row['title'] + '</a>';
                        }
                },
                { 'data' : 'workflowName' },
                {
                    'data' : 'stateName',
                    'render' : function(data, type, row, meta) {
                            return '<span class="badge ' + (row['terminated'] ? 'bg-secondary' : 'bg-info') + ' ms-2">' + data + '</span>';
                        }
                },
                { 'data' : 'priority' },
                { 'data' : 'created', 'render' : timeSince },
                { 'data' : 'updated', 'render' : timeSince }
            ]
        });
    const dataSize = 10;
    $('#load-older').click(function() {
        const data = $.get("/apis/tickets/v1?length=" + dataSize + "&" + window.location.search.substring(1)
                    + ($('#tickets').attr('nextPage') ? "&next=" + $('#tickets').attr('nextPage') : ""),
                function(res) {
                    if(!res || res.status != 'SUCCESS') {
                        return;
                    }
                    if(res.data) {
                        if(res.data.results.length < dataSize) {
                            $('#load-older').addClass('d-none');
                        }
                        $('#tickets').attr('nextPage', res.data.next);
                        dt.rows.add(res.data.results).draw();
                    }
                });
        console.log(data);
    })
    .click();

{{/partial}}
{{> common/base}}
