{{#partial "content"}}
        <section>
            <div class="row">
                {{#empty schema}}
                    <div class="col-auto"><h4>Create A New Schema</h4></div>
                {{else}}
                    <div class="col-auto"><h4>Details for Schema: <b>{{schema.name}}</b></h4></div>
                {{/empty}}
            </div>
            <form method="post"
                {{#empty schema}}
                  action="/manage/schema/create"
                {{else}}
                  action="/manage/schema/update/{{schema.id}}"
                {{/empty}}>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="name" class="col-form-label fw-bold">Name</label>
                            <input type="text" id="name" name="name"
                                   class="form-control border border-dark bg-light"
                                   maxlength="45" placeholder="Schema Name" aria-describedby="nameHelp"
                                   value="{{schema.name}}" {{#empty schema}}required{{else}}disabled{{/empty}}>
                            <div id="nameHelp" class="form-text">Name <i>can not</i> be changed</div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label fw-bold">Description</label>
                            <textarea id="description" name="description"
                                      class="form-control border border-dark bg-light"
                                      aria-describedby="descriptionHelp"
                                      placeholder="A description for the schema">{{schema.description}}</textarea>
                            <div id="descriptionHelp" class="form-text">Optional, can be upto 255 characters long</div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mb-3"><i class="bi bi-save"></i> Save</button>
                        </div>
                    </div>

                    <div class="col-sm-0 col-md-1">
                    </div>
                    <div class="col-sm-0 col-md-4">
                        <div class="alert alert-light note" role="alert">
                            <div class="row note-header">
                                What Is A Schema?
                            </div>
                            <div class="row note-body">
                                A schema is used to define the fields in a ticket. Once a schema is created, it can be
                                used in workflows where the fields in the schema are going to be used in rules and
                                processing and to gather data.
                                <br>
                                Fields in a schema can be of various types, each providing different ways to validate
                                the data on the frontend and in the backend before it is assimilated into a ticket.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{#empty schema}}
            {{else}}
            <div class="row p-2">
                    <div class="col">
                        <div class="row mb-1">
                            <div class="col-sm-10">
                                <h5>Fields</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <form method="post" action="/manage/schema/{{schema.id}}/fields/add">
                                    <div class="mb-3">
                                        <label for="fieldName" class="col-form-label fw-bold">Field Display Name</label>
                                        <input type="text" id="fieldName" name="fieldName"
                                               class="form-control border border-dark bg-light"
                                               maxlength="45" placeholder="Field Display Label"
                                               aria-describedby="fieldNameHelp" required>
                                        <div id="fieldNameHelp" class="form-text">Field Name to be displayed on the form.
                                            This is fixed once saved. Max length: 45.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fieldDescription"
                                               class="col-form-label fw-bold">Description</label>
                                        <textarea id="fieldDescription" name="fieldDescription"
                                                  class="form-control border border-dark bg-light"
                                                  placeholder="A description for the field"
                                                  aria-describedby="fieldDescriptionHelp"></textarea>
                                        <div id="fieldDescriptionHelp" class="form-text">Optional description for the field.
                                            Will be used as tooltip. Max length: 255.
                                        </div>
                                    </div>
                                    <div class="mb-3">

                                        <label for="fieldType"
                                               class="col-form-label fw-bold">Type</label>
                                        <select class="form-control  border border-dark bg-light field-type"
                                                id="fieldType" name="fieldType" aria-describedby="fieldTypeHelp" required>
                                            <option value="" disabled selected>Select data type</option>
                                            <option value="STRING">String</option>
                                            <option value="NUMBER">Number</option>
                                            <option value="CHOICE">Choice</option>
                                            <option value="BOOLEAN">Boolean</option>
                                            <option value="LOCATION">Location</option>
                                            <option value="DATE">Date</option>
                                        </select>
                                        <div id="fieldTypeHelp" class="form-text">Select data type of field.</div>
                                    </div>
                                    <div class="mb-3 form-check form-switch">
                                        <label for="fieldRequired"
                                               class="form-check-label fw-bold">Mandatory field</label>
                                        <input id="fieldRequired" name="fieldRequired"
                                               class="form-check-input border border-dark"
                                               type="checkbox" role="switch" value="true">
                                    </div>
                                    <div class="mb-3 field-extra string-meta d-none">
                                        <label for="fieldStringMaxLength"
                                               class="col-form-label fw-bold">Max Length</label>
                                        <input type="range"
                                               id="fieldStringMaxLength" name="fieldStringMaxLength"
                                               class="form-range pt-2" min="1" max="255" step="1" value="50"
                                               style="width: 90%" aria-describedby="fieldStringMaxLengthHelp"
                                               oninput="this.nextElementSibling.value = this.value">
                                        <output class="ms-2">50</output>
                                        <div id="fieldStringMaxLengthHelp" class="form-text">
                                            Maximum length of data in the string field
                                        </div>
                                    </div>
                                    <div class="mb-3 field-extra string-meta d-none">
                                        <label for="fieldStringRegex"
                                               class="col-form-label fw-bold">Regex</label>
                                        <input type="text"
                                               id="fieldStringRegex" name="fieldStringRegex"
                                               class="form-control border border-dark bg-light"
                                               placeholder="Regular expression to be matched"
                                               aria-describedby="fieldStringRegexHelp"
                                        >
                                        <div id="fieldStringRegexHelp" class="form-text">
                                            HTML 5 regular expression for matching string field
                                        </div>
                                    </div>
                                    <div class="mb-3 field-extra choice-meta d-none">
                                        <label for="fieldChoiceChoices"
                                               class="col-form-label fw-bold">Choices</label>
                                        <input type="text"
                                               id="fieldChoiceChoices" name="fieldChoiceChoices"
                                               class="form-control border border-dark bg-light"
                                               placeholder="Comma separated list of choices"
                                               aria-describedby="fieldChoiceChoicesHelp"
                                        >
                                        <div id="fieldChoiceChoicesHelp" class="form-text">
                                            Choice values that can be selected
                                        </div>
                                    </div>
                                    <div class="mb-3 field-extra choice-meta d-none form-check form-switch">
                                        <label for="fieldChoiceMulti"
                                               class="form-check-label fw-bold">Allow selection of multiple values</label>
                                        <input id="fieldChoiceMulti" name="fieldChoiceMulti"
                                               class="form-check-input border border-dark"
                                               type="checkbox" role="switch" value="true">
                                    </div>
                                    <div class="mb-3 field-extra number-meta d-none">
                                        <label class="col-form-label fw-bold">Range</label>
                                        <input type="number"
                                               id="fieldNumberMin" name="fieldNumberMin"
                                               class="form-control col-6 border border-dark bg-light"
                                               placeholder="Min" aria-describedby="fieldNumberRangeHelp">
                                        <input type="number"
                                               id="fieldNumberMax" name="fieldNumberMax"
                                               class="form-control col-6 border border-dark bg-light"
                                               placeholder="Max" aria-describedby="fieldNumberRangeHelp">
                                        <div id="fieldNumberRangeHelp" class="form-text">
                                            Allowed range for number field
                                        </div>
                                    </div>
                                    <div class="mb-3 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-outline-success mb-3">
                                            <i class="bi bi-plus-lg"></i> Add Field
                                        </button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-sm-12 col-md-8 table-responsive">
                                <table class="table table-bordered border-dark">
                                    <thead>
                                    <tr>
                                        <th>Display Name</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Required</th>
                                        <th>Multiple Allowed</th>
                                        <th>Last Updated</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each schema.fields}}
                                        <tr>
                                            <td>{{displayName}}</td>
                                            <td>{{name}}</td>
                                            <td>{{description}}</td>
                                            <td>{{readable type}}</td>
                                            <td>{{#if required eq true}}Yes{{else}}No{{/if}}</td>
                                            <td>{{#if allowMultiple eq true}}Yes{{else}}No{{/if}}</td>
                                            <td>{{updated}}</td>
                                            <td>
                                                <form class="confirmed-form" method="post"
                                                      action="/manage/schema/{{../schema.id}}/fields/{{id}}/delete"
                                                      data-cnf-title="Deleting schema field {{name}}"
                                                      data-cnf-text="Are you sure you want to delete this field?">
                                                    <button type="submit" class="btn btn-link p-0 text-danger"><i
                                                            class="bi bi-trash"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {{/empty}}

        </section>
{{/partial}}


{{#partial "page_js"}}
    $('#fieldType').change(function() {
    const type = $(this).val().toLowerCase();
    $('.field-extra').each(function() {
    $(this).addClass('d-none')
    });

    $('.' + type + '-meta').each(function() {
    $(this).removeClass('d-none')
    });
    });
{{/partial}}
{{> common/base}}