{{#partial "content"}}
        <section>
            <div class="row">
                {{#empty schema}}
                    <div class="col-auto"><h4>Create A New Schema</h4></div>
                {{else}}
                    <div class="col-auto"><h4>Details for Schema: <b>{{schema.name}}</b></h4></div>
                {{/empty}}
            </div>
            <form method="post"
                {{#empty schema}}
                  action="/manage/schema/create"
                {{else}}
                  action="/manage/schema/update/{{schema.id}}"
                {{/empty}}>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="mb-3">
                            <label for="name" class="col-form-label fw-bold">Name</label>
                            <input type="text" id="name" name="name"
                                   class="form-control border border-dark"
                                   maxlength="45" placeholder="Schema Name" aria-describedby="nameHelp"
                                   value="{{schema.name}}" {{#empty schema}}required{{else}}disabled{{/empty}}>
                            <div id="nameHelp" class="form-text">Name <i>can not</i> be changed</div>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label fw-bold">Description</label>
                            <textarea id="description" name="description"
                                      class="form-control border border-dark"
                                      aria-describedby="descriptionHelp"
                                      placeholder="A description for the schema">{{schema.description}}</textarea>
                            <div id="descriptionHelp" class="form-text">Optional, can be upto 255 characters long</div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success mb-3"><i class="bi bi-save"></i> Save</button>
                        </div>
                    </div>

                    <div class="col-sm-0 col-md-1">
                    </div>
                    <div class="col-sm-0 col-md-4">
                        <div class="alert alert-light note" role="alert">
                            <div class="row note-header">
                                What Is A Schema?
                            </div>
                            <div class="row note-body">
                                A schema is used to define the fields in a ticket. Once a schema is created, it can be
                                used in workflows where the fields in the schema are going to be used in rules and
                                processing and to gather data.
                                <br>
                                Fields in a schema can be of various types, each providing different ways to validate
                                the data on the frontend and in the backend before it is assimilated into a ticket.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{#empty schema}}
            {{else}}
            <div class="row p-2">
                <div class="col-sm-12 col-md-4">
                    <div class="row mb-1">
                        <div class="col-6 col-md-10">
                            <h5>Fields</h5>
                        </div>
                        <div class="col-6 col-md-2 d-flex text-end justify-content-end">
                            <a href="/manage/schema/{{schema.id}}" class="btn btn-sm btn-primary">
                                <i class="bi bi-plus-lg">Create</i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <form method="post"
                            {{#empty field}}
                              action="/manage/schema/{{schema.id}}/fields/add"
                            {{else}}
                              action="/manage/schema/{{schema.id}}/fields/{{field.id}}/update"
                            {{/empty}}>
                            <div class="mb-3">
                                <label for="fieldName" class="col-form-label fw-bold">Field Name</label>
                                <input type="text" id="fieldName" name="fieldName"
                                       class="form-control border border-dark"
                                       maxlength="45" placeholder="Field Display Label"
                                       pattern="[a-zA-Z0-9_]+"
                                       aria-describedby="fieldNameHelp" value="{{field.name}}"
                                    {{#empty field}}
                                       required
                                    {{else}}
                                       disabled
                                    {{/empty}}>
                                <div id="fieldNameHelp" class="form-text">Field Name to be used internally in rules etc.
                                    This is fixed once saved. Max length: 45.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="fieldDisplayName" class="col-form-label fw-bold">Field Display Name</label>
                                <input type="text" id="fieldDisplayName" name="fieldDisplayName"
                                       class="form-control border border-dark"
                                       maxlength="45" placeholder="Field Display Label"
                                       aria-describedby="fieldDisplayNameHelp" value="{{field.displayName}}">
                                <div id="fieldDisplayNameNameHelp" class="form-text">
                                    Field Name to be displayed on the form. If not set, this is automatically set to
                                    the field name. Max length: 45.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="fieldDescription"
                                       class="col-form-label fw-bold">Description</label>
                                <textarea id="fieldDescription" name="fieldDescription"
                                          class="form-control border border-dark"
                                          placeholder="A description for the field"
                                          aria-describedby="fieldDescriptionHelp">{{field.description}}</textarea>
                                <div id="fieldDescriptionHelp" class="form-text">Optional description for the field.
                                    Will be used as tooltip. Max length: 255.
                                </div>
                            </div>
                            <div class="mb-3">

                                <label for="fieldType"
                                       class="col-form-label fw-bold">Type</label>
                                {{#empty field}}
                                    <select class="form-control  border border-dark field-type"
                                            id="fieldType" name="fieldType" aria-describedby="fieldTypeHelp" required>
                                        <option value="" disabled selected>Select data type</option>
                                        {{#each fieldTypes}}
                                            <option value="{{this}}"
                                                    {{#eq this field.type}}selected{{/eq}}>
                                                {{readable this}}
                                            </option>
                                        {{/each}}
                                    </select>
                                    <div id="fieldTypeHelp" class="form-text">Select data type of field.</div>
                                {{else}}
                                    <input type="text" class="form-control  border border-dark field-type"
                                           id="fieldType" value="{{readable field.type}}"
                                           aria-describedby="fieldTypeHelp" disabled>
                                    <div id="fieldTypeHelp" class="form-text">Data type of field. This can not be changed.</div>
                                {{/empty}}
                            </div>
                            <div class="mb-3 field-extra string-meta
                                            {{#empty field}}
                                                d-none
                                            {{else}}
                                                {{#fieldTypeEquals field.type "STRING"}}
                                                {{else}}
                                                    d-none
                                                {{/fieldTypeEquals}}
                                            {{/empty}}">
                                <label for="fieldStringMaxLength"
                                       class="col-form-label fw-bold">Max Length</label>
                                <input type="range"
                                       id="fieldStringMaxLength" name="fieldStringMaxLength"
                                       class="form-range pt-2" min="1" max="512" step="1"
                                    {{#empty field}}
                                       value="50"
                                    {{else}}
                                       value="{{field.maxLength}}"
                                    {{/empty}}
                                       style="width: 85%" aria-describedby="fieldStringMaxLengthHelp"
                                       oninput="this.nextElementSibling.value = this.value">
                                <output class="ms-2">50</output>
                                <div id="fieldStringMaxLengthHelp" class="form-text">
                                    Maximum length of data in the string field
                                </div>
                            </div>
                            <div class="mb-3 field-extra string-meta
                                            {{#empty field}}
                                                d-none
                                            {{else}}
                                {{#fieldTypeEquals field.type "STRING"}}
                                {{else}}
                                                    d-none
                                                {{/fieldTypeEquals}}
                            {{/empty}}">
                                <label for="fieldStringRegex"
                                       class="col-form-label fw-bold">Regex</label>
                                <input type="text"
                                       id="fieldStringRegex" name="fieldStringRegex"
                                       class="form-control border border-dark"
                                       placeholder="Regular expression to be matched"
                                       aria-describedby="fieldStringRegexHelp"
                                       value="{{field.matchPattern}}"
                                >
                                <div id="fieldStringRegexHelp" class="form-text">
                                    HTML 5 regular expression for matching string field
                                </div>
                            </div>
                            <div class="mb-3 field-extra choice-meta
                                        {{#empty field}}
                                             d-none
                                        {{else}}
                                            {{#fieldTypeEquals field.type "CHOICE"}}
                                            {{else}}
                                                d-none
                                            {{/fieldTypeEquals}}
                                        {{/empty}}">
                                <label for="fieldChoiceChoices"
                                       class="col-form-label fw-bold">Choices</label>
                                <input type="text"
                                       id="fieldChoiceChoices" name="fieldChoiceChoices"
                                       class="form-control border border-dark"
                                       placeholder="Comma separated list of choices"
                                       aria-describedby="fieldChoiceChoicesHelp"
                                       value="{{choiceValues field}}"
                                >
                                <div id="fieldChoiceChoicesHelp" class="form-text">
                                    Choice values that can be selected
                                </div>
                            </div>
                            <div class="mb-3 field-extra choice-meta form-check form-switch
                                            {{#empty field}}
                                                d-none
                                            {{else}}
                                                {{#fieldTypeEquals field.type "CHOICE"}}
                                                {{else}}
                                                    d-none
                                                {{/fieldTypeEquals}}
                                            {{/empty}}">
                                <label for="fieldChoiceMulti"
                                       class="form-check-label fw-bold">Allow selection of multiple values</label>
                                <input id="fieldChoiceMulti" name="fieldChoiceMulti"
                                       class="form-check-input border border-dark"
                                       type="checkbox" role="switch"
                                       value="true"
                                    {{#empty field}}
                                    {{else}}
                                        {{#eq field.allowMultiple true}}checked{{/eq}}
                                    {{/empty}}>
                            </div>
                            <div class="mb-3 field-extra number-meta
                                            {{#empty field}}
                                                d-none
                                            {{else}}
                                                {{#fieldTypeEquals field.type "NUMBER"}}
                                                {{else}}
                                                    d-none
                                                {{/fieldTypeEquals}}
                                            {{/empty}}">
                                <label class="col-form-label fw-bold">Range</label>
                                <input type="number"
                                       id="fieldNumberMin" name="fieldNumberMin"
                                       class="form-control col-6 border border-dark"
                                       placeholder="Min" value="{{value.min}}"
                                       aria-describedby="fieldNumberRangeHelp">
                                <input type="number"
                                       id="fieldNumberMax" name="fieldNumberMax"
                                       class="form-control col-6 border border-dark"
                                       placeholder="Max" value="{{value.max}}"
                                       aria-describedby="fieldNumberRangeHelp">
                                <div id="fieldNumberRangeHelp" class="form-text">
                                    Allowed range for number field
                                </div>
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <button type="submit" class="btn btn-outline-success mb-3">
                                    {{#empty field}}
                                        <i class="bi bi-plus-lg"></i> Add Field
                                    {{else}}
                                        <i class="bi bi-save"></i> Update Field
                                    {{/empty}}
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-sm-12 col-md-8 table-responsive">
                        <table class="table table-bordered border-dark">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Display Name</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Multiple Allowed</th>
                                <th>Last Updated</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each schema.fields}}
                                <tr>
                                    <td><a href="/manage/schema/{{../schema/id}}/fields/{{id}}">{{name}}</a></td>
                                    <td>{{displayName}}</td>
                                    <td>{{description}}</td>
                                    <td
                                        {{#eqEnum type "STRING"}}
                                        title="Max Length: {{maxLength}}. Regex: {{matchPattern}}"
                                        {{/eqEnum}}
                                        {{#eqEnum type "NUMBER"}}
                                        title="Max: {{max}}. Min: {{min}}"
                                        {{/eqEnum}}
                                        {{#eqEnum type "CHOICE"}}
                                        title="Choices: {{#each choices}}{{this.value}} {{/each}} Multi Select: {{allowMultiple}}"
                                        {{/eqEnum}}
                                    >{{readable type}}</td>
                                    <td>
                                        {{#if allowMultiple eq true}}
                                            <span class="badge bg-info ms-2">Multiple</span>
                                        {{else}}
                                            <span class="badge bg-dark ms-2">Single</span>
                                        {{/if}}</td>
                                    <td>{{updated}}</td>
                                    <td>
                                        <form class="confirmed-form" method="post"
                                              action="/manage/schema/{{../schema.id}}/fields/{{id}}/delete"
                                              data-cnf-title="Deleting schema field {{name}}"
                                              data-cnf-text="Are you sure you want to delete this field?">
                                            <button type="submit" class="btn btn-link p-0 text-danger"><i
                                                    class="bi bi-trash-fill"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
            </div>

            {{/empty}}

        </section>
{{/partial}}


{{#partial "page_js"}}
    $('#fieldType').change(function() {
        const type = $(this).val().toLowerCase();
        $('.field-extra').each(function() {
            $(this).addClass('d-none');
        });

        $('.' + type + '-meta').each(function() {
            $(this).removeClass('d-none');
        });
    });
{{/partial}}
{{> common/base}}