{{#partial "content"}}
    <section>
        <div class="row mb-2">
            <div class="col-sm-12 col-md-7"><h4>Workflows</h4></div>
            <div class="col-sm-12 col-md-5 d-flex justify-content-end">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group me-2" role="group">
                        <div class="input-group border border-dark col-3">
                            <span class="input-group-text" id="search-box"><i class="bi fs2 bi-search"></i></span>
                            <input type="text" class="form-control form-control-sm  bg-light data-table-search"
                                   id="workflow-search"
                                   placeholder="Search Workflow" aria-label="Search Workflow" aria-describedby="search-box">
                        </div>
                    </div>
                    <div class="btn-group pt-1 pb-1" role="group">
                        <a href="/manage/schema/create" class="btn btn-sm btn-success" role="button">
                            <i class="bi fs2 bi-plus-lg"></i>Create</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col table-responsive">
                <table class="table table-bordered border-dark data-table" data-table-search="#workflow-search">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Schema</th>
                        <th>State</th>
                        <th>Created</th>
                        <th>Last Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each workflows}}
                        <tr>
                            <td><a href="/manage/workflow/{{id}}">{{displayName}}</td>
                            <td>{{description}}</td>
                            <td><a href="/manage/schema/{{schemaId}}" target="_blank">{{schemaId}}</a></td>
                            <td>{{readable state}}</td>
                            <td>{{created}}</td>
                            <td>{{updated}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{{/partial}}
{{> common/base}}