{{#partial "content"}}
    <section>
        <div class="row">

            <div class="col-auto">
                {{#empty role}}
                    <h4>Create a new role</h4>
                {{else}}
                    <h4>Updating role: <b>{{role.name}}</b></h4>
                {{/empty}}
            </div>
        </div>
        <form method="post"
            {{#empty role}}
              action="/admin/roles/create"
            {{else}}
              action="/admin/roles/update/{{role.id}}"
            {{/empty}}
          >
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="name" class="col-form-label fw-bold">Name</label>
                        <input type="text" id="name" name="name" class="form-control border border-dark bg-light"
                               maxlength="45" placeholder="Role Name" aria-describedby="nameHelp"
                               value="{{role.name}}"
                               {{#empty role}}required{{else}}disabled{{/empty}}
                        >
                        <div id="nameHelp" class="form-text">Name <i>can not</i> be changed once created</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label fw-bold">Description</label>
                        <textarea id="description" name="description"
                                  class="form-control border border-dark bg-light" rows="10"
                                  placeholder="A description for the role"
                                  aria-describedby="descriptionHelp">{{role.description}}</textarea>
                        <div id="descriptionHelp" class="form-text">Optional, can be upto 255 characters long</div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="permissions" class="col-form-label fw-bold">Permissions</label>
                        <select id="permissions" name="permissions" class="form-control border border-dark bg-light"
                                multiple size="15" aria-describedby="permissionsHelp" required>
                            {{#each permissions}}
                                <option value="{{this}}"
                                        {{#contains role.permissions this}}selected{{/contains}}>
                                    {{readable this}}
                                </option>
                            {{/each}}
                        </select>
                        <div id="permissionsHelp" class="form-text">This will control what users with this role can do.
                            <br><b>Note: </b> People having ticket permissions will still be governed by their group
                            membership
                        </div>

                    </div>
                </div>
                <div class="row g-3 justify-content-center m-2">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success mb-3"><i class="bi bi-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
{{/partial}}
{{> common/base}}