{{#partial "page_css_includes"}}
    <link href="/css/bootstrap-select.min.css" rel="stylesheet">
{{/partial}}
{{#partial "page_js_includes"}}
    <script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
{{/partial}}
{{#partial "content"}}
    <section>
        <div class="row m-4 p-4 border border-dark">
            <div class="col-12 col-md-6 border-end border-dark">
                <div class="row">
                    <div class="col-12">
                        <form class="row" method="post" action="/admin/users/email">
                            <div class="col-12">
                                <div class="input-group border border-dark">
                                    <span class="input-group-text" id="search-box"><i class="bi fs2 bi-envelope-at"></i></span>
                                    <input type="email" class="form-control form-control-sm  data-table-search"
                                           id="email" name="email" maxlength="255"
                                           placeholder="Find by email" aria-label="Search email"
                                           title="Find user by Email ID" aria-describedby="emailSearchBoxHelp">
                                </div>
                                <div id="emailSearchBoxHelp" class="form-text">Email ID for the user you want to find
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form class="row" method="post" action="/admin/users/userid">
                            <div class="col-12">
                                <div class="input-group border border-dark">
                                    <span class="input-group-text" id="search-box"><i
                                            class="bi fs2 bi-person"></i></span>
                                    <input type="text" class="form-control form-control-sm  data-table-search"
                                           id="searchUserId" name="searchUserId"
                                           placeholder="Find by user id" aria-label="Search User ID"
                                           title="Find user by user ID" aria-describedby="searchUserIdHelp">
                                </div>
                                <div id="searchUserIdHelp" class="form-text">User ID for the user you want to find</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <form method="post" action="/admin/users/system">
                    <div class="row">
                        <div class="col-12 col-md-3 float-end">
                            <label for="sysUserName" class="col-form-label fw-bold">Username</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" class="form-control"
                                   id="sysUserName" name="sysUserName" placeholder="Human readable name"
                                   aria-describedby="sysUserNameHelp" required maxlength="120">
                            <div id="sysUserNameHelp" class="form-text">
                                A human-readable name for the user. Max length: 120
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3 float-end">
                            <label for="sysEmail" class="col-form-label fw-bold">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" class="form-control"
                                   id="sysEmail" name="sysEmail" placeholder="Email"
                                   aria-describedby="sysEmailHelp" maxlength="30" required>
                            <div id="sysEmailHelp" class="form-text">
                                Management email id for this system. Max length: 30.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-sm btn-outline-success float-end" role="button">
                                Create System User
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {{#with userDetails}}
        <section>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h4>User Details</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                        {{#with summary}}
                            <tr>
                                <th scope="row">ID</th>
                                <td>{{id}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Type</th>
                                <td>{{type}}</td>
                            </tr>
                            <tr>
                                <th scope="row">E-Mail</th>
                                <td>{{email}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Created On</th>
                                <td>{{created}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Last updated</th>
                                <td>{{updated}}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>
                                    <div class="row">
                                        <div class="col-6">{{readable state}}</div>
                                        <div class="col-6">
                                            <!-- TODO BASED ON PERMISSION -->
                                            <form class="row row-cols-lg-auto confirmed-form justify-content-end"
                                                  method="post" action="/admin/users/{{id}}/state"
                                                  data-cnf-title="Changing state for {{name}}"
                                                  data-cnf-text="Are you sure?">
                                                <div class="col-12">
                                                    <select id="state" name="state"
                                                            class="form-control border border-dark"
                                                            required>
                                                        <option disabled selected value="">Select new state</option>
                                                        <option value="LOCKED">Locked</option>
                                                        <option value="EXITED">Exited</option>
                                                        <option value="INACTIVE">Inactive</option>
                                                        <option value="ACTIVE">Active</option>
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-danger">Change</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Current Role</th>
                                <td>
                                    <div class="row">
                                        <div class="col-6">{{#with assignedRole}}{{name}}{{/with}}</div>
                                        <div class="col-6">
                                            <!-- TODO BASED ON PERMISSION -->
                                            <form class="row row-cols-lg-auto confirmed-form justify-content-end"
                                                  method="post" action="/admin/users/{{id}}/role"
                                                  data-cnf-title="Assigning role to {{name}}"
                                                  data-cnf-text="Are you sure?">
                                                <div class="col-12">
                                                    <select id="roleId" name="roleId"
                                                            class="form-control border border-dark"
                                                            required>
                                                        <option disabled selected value="">Select role to assign
                                                        </option>
                                                        {{#each ../availableRoles}}
                                                            <option value="{{id}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary">Assign</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {{/with}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        {{#eqEnum userDetails.summary.type "SYSTEM"}}
            <section>
                <div class="row mb-2">
                    <div class="col-12 col-md-10">
                        <h4>System User Sessions</h4>
                    </div>
                    <div class="col-12 col-md-2">
                        <form action="/admin/users/system/{{userDetails.summary.id}}/session/create" method="post">
                            <button class="btn btn-sm btn-success float-end">Start New Session</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered border-dark">
                                    <tr>
                                        <th>Session ID</th>
                                        <th>State</th>
                                        <th>Created</th>
                                        <th>Last Updated</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    {{#each sessions}}
                                        <tr>
                                            <td>{{id}}</td>
                                            <td>
                                                <span class="badge {{#eqEnum state "COMPLETED"}}bg-secondary{{else}}bg-success{{/eqEnum}} ms-2">
                                                    {{readable state}}
                                                </span>
                                            </td>
                                            <td>{{htmlDateTime created}}</td>
                                            <td>{{htmlDateTime updated}}</td>
                                            <td>
                                                <button role="button" class="btn btn-sm btn-outline-success jwt-getter"
                                                   data-session-id="{{id}}" {{#eqEnum state "COMPLETED"}}disabled{{/eqEnum}}>Copy JWT</button>
                                            </td>
                                            <td>
                                                <form class="confirmed-form"
                                                      data-cnf-title="Ending session for {{../userDetails.summary.name}}"
                                                      data-cnf-text="Are you sure? All JWT for this session will stop working."
                                                      action="/admin/users/system/{{../userDetails.summary.id}}/session/{{id}}/end"
                                                      method="post">
                                                    <button class="btn btn-sm btn-danger" data-session-id="{{id}}">End
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{/eqEnum}}
        <section>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <h4>Group Memberships</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form method="post" action="/manage/users/{{summary.id}}/groups/add">
                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-9">
                                        <label for="groupId" class="col-form-label fw-bold">Select Group</label>
                                        <select class="form-control selectpicker border border-dark"
                                                id="groupId" name="groupId"
                                                data-live-search="true"
                                                aria-describedby="groupIdHelp" required>
                                            {{#each ../availableGroups}}
                                                <option value="{{id}}" title="{{description}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <div id="groupIdHelp" class="form-text">User will be added to this group</div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 mt-2 justify-content-center">
                                        <button type="submit" class="btn btn-success mt-4"><i class="bi bi-plus-lg"></i>
                                            Add
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered border-dark">
                                <thead>
                                <tr>
                                    <th>Group</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each groups}}
                                    <tr>
                                        <td title="{{id}}">{{name}}</td>
                                        <td>{{desciption}}</td>
                                        <td><span class="badge bg-info ms-2">{{readable type}}</span></td>
                                        <td>
                                            {{#eqEnum type "MANUALLY_ASSIGNED"}}
                                                <form class="confirmed-form" method="post"
                                                      action="/manage/users/{{../userDetails/summary/id}}/groups/{{id}}/remove"
                                                      data-cnf-title="Removing user from group"
                                                      data-cnf-text="Are you sure you want to remove the user {{../name}} from group {{name}}?">
                                                    <button type="submit" class="btn btn-link p-0 text-danger"><i
                                                            class="bi bi-trash-fill"></i></button>
                                                </form>
                                            {{else}}
                                                <button type="button" class="btn p-0 text-secondary">
                                                    <i class="bi bi-trash-fill"></i></button>
                                            {{/eqEnum}}
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <h4>Skills</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form method="post" action="/manage/users/{{summary.id}}/skills/add">
                                <div class="row mb-3">
                                    <div class="col-sm-12 col-md-9">
                                        <label for="skillValueId" class="col-form-label fw-bold">Select Skill</label>
                                        <select class="form-control selectpicker border border-dark"
                                                id="skillValueId" name="skillValueId"
                                                data-live-search="true"
                                                aria-describedby="skillValueIdHelp" required>
                                            {{#each ../availableSkills}}
                                                <option value="{{skillId}}/{{skillValueId}}">{{name}}
                                                    - {{value}}</option>
                                            {{/each}}
                                        </select>
                                        <div id="skillValueIdHelp" class="form-text">Skills that the user has. Dynamic
                                            group assignment will happen based on this.
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 mt-2 justify-content-center">
                                        <button type="submit" class="btn btn-success mt-4"><i class="bi bi-plus-lg"></i>
                                            Add
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-bordered border-dark">
                                <thead>
                                <tr>
                                    <th>Skill Name</th>
                                    <th>Skill Value</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each skills}}
                                    <tr>
                                        <td title="Skill: {{skillId}}">{{name}}</td>
                                        <td title="Value:  Value: {{skillValueId}}">{{value}}</td>
                                        <td>
                                            <form class="confirmed-form" method="post"
                                                  action="/manage/users/{{../userDetails/summary/id}}/skills/{{skillId}}/{{skillValueId}}/remove"
                                                  data-cnf-title="Removing skill value {{name}}:{{value}} for user"
                                                  data-cnf-text="Are you sure you want to remove this skillu?">
                                                <button type="submit" class="btn btn-link p-0 text-danger"><i
                                                        class="bi bi-trash-fill"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{/with}}
    <section>
        {{> assets/templates/common/fragments/attributes}}
    </section>
{{/partial}}

{{#partial "page_js"}}
    $(document).on("click", ".jwt-getter",  function() {
    const sessionId = $(this).closest("button").attr("data-session-id");
    $.get("/admin/users/system/{{userDetails.summary.id}}/session/" + sessionId + "/jwt",
    function(data) {
    navigator.clipboard.writeText(data.jwt)
    .then(
    function () {
    alert('It worked! Do a CTRL - V to paste')
    },
    function () {
    alert('Failure to copy. Check permissions for clipboard')
    });

    });
    });
{{/partial}}
{{> common/base}}
